.navbar {
    background-color: tomato;
}

.nav .nav-link.active {
    background-color: #fff;
    color: tomato;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: 'Poppins', sans-serif;
}

#sobre-o-restaurante {
    background-color: #ffeae6;
}

.text-colored {
    color: tomato;
}